$PrimaryColor: #273c75;
$Grey: #9d9faa;
$LightGrey: #ecf0f1;

@import "/views/login.scss";
@import "/views/signup.scss";
@import "/views/home.scss";
@import "/views/resto.scss";
@import "/views/account.scss";
@import "/views/basket.scss";
@import "/views/favoris.scss";
@import "/views/command.scss";
@import "/components/menu.scss";
@import "/fonts.scss";

html {
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

#app {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    .page {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 375px;
        height: calc(100vh - 121px);
        .loading {
            color: $PrimaryColor;
            --ggs: 5;
            margin: auto;
        }
    }
}

.vue-notification-group {
    width: calc(100vw - 10px) !important;
    right: 0;
    left: 0;
    top: 10px !important;
    margin: auto;
    z-index: 5 !important;
    .vue-notification-template {
        border-left: none !important;
        border-radius: 5px;
        &.error {
            background: #e74c3c !important;
        }
        &.success {
            background: $PrimaryColor !important;
        }
        .notification-title {
            display: none;
        }
        .notification-content {
            font-family: 'Roboto';
            font-size: 14px;
            text-align: center;
        }
    }
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner { 
    transition: all .5s cubic-bezier(0.88, 0.05, 0.56, 2.18) !important
}
.top__menu {
    &>i:first-child {
        &.gg-arrow-left {
            top: 65px;
        }
        position: absolute;
        left: 30px;
        top: 75px;
        color: $PrimaryColor;
        --ggs: 2;
    }
    .toBasket {
        position: absolute;
        right: 20px;
        top: 60px;
        display: flex;
        svg {
            color: $PrimaryColor;
            font-size: 34px;
        }
        &>span {
            position: absolute;
            right: 0;
            left: 7px;
            top: 0;
            bottom: 7px;
            margin: auto;
            display: block;
            height: max-content;
            width: max-content;
            color: #fff;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 14px;
        }
    }
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}