
.panel {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    transition: all .3s ease;
    transform: translateX(-100vw);
    width: 100vw;
    .menu {
        position: relative;
        width: 300px;
        background: #fff;
        height: 100vh;
        .impossible {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            color: #e74c3c;
            font-size: 12px;
            font-family: 'Asap';
            text-align: center;
        }
        .title {
            font-family: 'Asap';
            color: $PrimaryColor;
            font-size: 34px;
            text-align: center;
            margin-top: 40px;
            transition-delay: 0.3s;
            opacity: 0;
            transform: translateY(10px);
        }
        .connected {
            text-align: center;
            font-family: 'Roboto';
            transition-delay: 0.3s;
            opacity: 0;
            transform: translateY(10px);
            font-size: 14px;
        }
        .list__link {
            margin-top: 100px;
            width: 100%;
            .link {
                position: relative;
                color: $PrimaryColor;
                font-family: 'Roboto';
                font-weight: 700;
                margin-bottom: 40px;
                line-height: 50px;
                font-size: 20px;
                width: 100%;
                text-align: center;
                transition-delay: 0.3s;
                i,
                svg {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: -15px auto 0;
                }
                &:last-child {
                    position: absolute;
                    bottom: 50px;
                }
                &:nth-child(1) {
                    opacity: 0;
                    transform: translateY(10px);
                }
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateY(10px);
                }
                &:nth-child(3) {
                    opacity: 0;
                    transform: translateY(10px);
                }
                &:nth-child(4) {
                    opacity: 0;
                    transform: translateY(10px);
                }
                &:nth-child(5) {
                    opacity: 0;
                    transform: translateY(10px);
                }
            }
        }
    }
    .conditions__copyright {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;
        color: $PrimaryColor;
        transition-delay: 0.3s;
        transform: translateY(10px);
        opacity: 0;
        .conditions {
            font-family: 'Asap';
        }
        .copyright {
            font-family: 'Roboto';
            font-size: 14px;
            letter-spacing: 2px;
        }
    }
    .fade {
        position: absolute;
        right: 0;
        background: #00000080;
        width: calc(100vw - 300px);
        height: 100vh;
        opacity: 0;
        transition: all .3s ease;
    }      
    &.open {
        transform: translateX(0);
        .menu {
            .title {
                transition: all .3s ease;
                transition-delay: 0.3s;
                transform: translateY(0);
                opacity: 1;
            }
            .connected {
                transition: all .3s ease;
                transition-delay: 0.4s;
                transform: translateY(0);
                opacity: 1;
            }
            .list__link {
                .link {
                    transition: all .3s ease;
                    transform: translateY(0);
                    opacity: 1;
                    &:nth-child(1) {
                        transition-delay: .5s;
                    }
                    &:nth-child(2) {
                        transition-delay: .6s;
                    }
                    &:nth-child(3) {
                        transition-delay: .7s;
                    }
                    &:nth-child(4) {
                        transition-delay: .8s;
                    }
                    &:nth-child(5) {
                        transition-delay: .9s;
                    }
                }
            }
            .conditions__copyright {
                transition: all .3s ease;
                transition-delay: 1s;
                transform: translateY(0);
                opacity: 1;
            }
        }
        .fade { 
            opacity: 1;
            transition-delay: .2s;
        }
    } 
}