#app .page.page__account{
    height: 100vh;
    margin: auto;
    padding: 120px 20px 0;
    display: block;
    &::-webkit-scrollbar {
        display: none;
    }
    .title {
        position: relative;
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        margin-bottom: 10px;
        .save {
            position: absolute;
            right: 0;
            top: 12px;
            font-size: 20px;
        }
    }
    .lottie--account {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(20px);
        height: auto !important;
    }
    .profilePicture {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        img {
            height: 100px;
            min-width: 100px;
        }
        #picture {
            position: absolute;
            left: 0;
            top: 0;
            height: 100px;
            width: 100px;
            &>input {
                display: none;
            }
        }   
    }
    .list__account {
        position: relative;
        width: 100%;
        height: calc(100% - 145px);
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
        &>label {
            position: relative;
            display: block;
            margin: 20px auto;
            width: 100%;
            &>input {
                display: block;
                background: none;
                border: none;
                border-bottom: 1px solid $Grey;
                width: 100%;
                height: 40px;
                outline: none;
                color: $PrimaryColor;
                font-size: 18px;
                &:-webkit-autofill{
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
            }
            .label {
                position: absolute;
                top: -14px;
                left: 0;
                color: $PrimaryColor;
                font-size: 16px;
            }
        }    
    }
}