.page__basket{
    height: 100vh;
    margin: auto;
    padding: 120px 20px;
    .title {
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        margin-bottom: 10px;
    }
    .groupBasket-enter-active, .groupBasket-leave-active {
        transition: all .5s;
    }
    .groupBasket-enter, .groupBasket-leave-to {
        opacity: 0;
        transform: translateX(100px);
    }
    .list__items {
        position: relative;
        width: 100%;
        height: calc(100% - 145px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
        &>div {
            overflow-x: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .item {
            position: relative;
            width: 100%;
            margin: 10px 0;
            display: flex;
            .nbr {
                position: absolute;
                top: -10px;
                left: 65px;
                background: $PrimaryColor;
                color: #fff;
                z-index: 1;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                border: 2px #fff solid;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }
            .img {
                width: 75px;
                height: 50px;
                overflow: hidden;
                display: flex;
                position: relative;
                border-radius: 5px;
                img {
                    width: 75px;
                    min-height: 50px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .right {
                width: calc(100% - 160px);
                margin-left: 10px;
                .name {
                    font-family: 'Asap';
                    color: $PrimaryColor;
                    margin: 5px 0;
                }
                .prix {
                    color: $Grey;
                    font-size: 14px;
                }
            }
            .option {
                position: absolute;
                display: flex;
                right: 0;
                top: 0;
                bottom: 0;
                height: max-content;
                color: $PrimaryColor;
                font-size: 24px;
                margin: auto;
                transform: translateX(0);
                opacity: 1;
                transition: all .3s ease;
                width: 50px;
                svg {
                    margin: auto;
                }
            }
            .list__options {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                height: max-content;
                margin: auto;
                display: flex;
                transform: translateX(100px);
                opacity: 0;
                transition: all .3s ease;
                svg {
                    margin-left: 5px;
                }
                .delete {
                    color: #e74c3c;
                    font-size: 24px;
                }
                .add {
                    position: absolute;
                    top: -5px;
                    right: 30px;
                    color: #2ecc71;
                    font-size: 18px;
                }
                .less {
                    position: absolute;
                    top: 18px;
                    right: 30px;
                    color: #e67e22;
                    font-size: 18px;
                }
            }
            &.optionOpen {
                .list__options {
                    transform: translateX(0);
                    opacity: 1;
                }
                .option {
                    transform: translateX(100px);
                    opacity: 0;
                }
            }
        }
        .null {
            position: absolute;
            top: 0;
            font-family: 'Asap';
            color: $PrimaryColor;
            margin: 10px 15px;
        }
    }
    .payment {
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100vw;
        background: $PrimaryColor;
        height: 100px;
        border-radius: 40px 40px 0 0;
        transition: all .3s ease;
        z-index: 1;
            
        .confirm {
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            color: $Grey;
            font-size: 14px;
            font-family: 'Roboto';
            text-decoration: underline;
        }
        .total {
            position: absolute;
            margin: 50px 0 0 20px;
            color: #fff;
            font-family: 'Asap';
            font-size: 22px;
        }
        .price {
            position: absolute;
            margin: 50px 20px 0 0;
            right: 0;
            color: #fff;
            font-size: 22px;
            >span {
                font-family: 'Asap' !important;
            }
            .odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner { 
                transition: all .5s ease !important
            }
        }
        .ask {
            position: absolute;
            display: flex;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-family: 'Asap';
            font-size: 18px;
            transition: all .3s ease;
            transition-delay: 0;
            transform: translateY(20px);
            opacity: 0;
            margin: 0 50px;
            &>div  {
                margin: auto;
            }
            svg {
                margin: 0 5px;
                height: 16px;
            }
        }
        &.open {
            height: 150px;
            .ask {
                transform: translateY(0);
                opacity: 1;
                transition-delay: .2s;
            }
        }
    }
}