.page__command {
    height: 100vh;
    margin: auto;
    padding: 120px 20px 0;
    overflow: hidden;
    .title {
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        position: relative;
    }
    .lottie--command {
        transform: translateX(-20px);
        height: auto !important;
        margin: 0 !important;
    }
    .time {
        color: $PrimaryColor;
        font-size: 22px;
        text-align: center;
        width: 100%;
        >span {
            font-family: 'Asap' !important;
        }
        .odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner { 
            transition: all .5s ease !important
        }
    }
    .list__items {
        margin: auto auto 0 auto;
        position: relative;
        height: 80px;
        width: 100vw;
        display: inline-flex;
        transform: translateX(-20px);
        animation: moveSlideshow 10s ease infinite;
        
        .item {
            position: relative;
            width: 110px;
            margin: 10px 5px;
            .nbr {
                position: absolute;
                top: -10px;
                right: -10px;
                background: $PrimaryColor;
                color: #fff;
                z-index: 1;
                border-radius: 50%;
                height: 22px;
                width: 22px;
                border: 2px #fff solid;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
            .img {
                width: 110px;
                height: 60px;
                overflow: hidden;
                display: flex;
                position: relative;
                border-radius: 5px;
                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    .modal-enter-active, .modal-leave-active {
        transition: all .5s;
    }
    .modal-enter, .modal-leave-to {
        opacity: 0;
        transform: scale(1.5);
    }
    .modal__notification {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #000000a0;
        .bloc {
            background: #fff;
            border-radius: 10px;
            width: 210px;
            margin: auto;
            display: flex;
            flex-direction: column;

            .modal--title {
                text-align: center;
                color: $PrimaryColor;
                font-family: 'Asap';
                margin: 10px 10px 20px 10px;
            }
            .buttons {
                width: 100%;
                display: flex;
                button {
                    background: $PrimaryColor;
                    border-radius: 5px;
                    color: #fff;
                    width: 80px;
                    height: 30px;
                    outline: none;
                    border: none;
                    transition: all .3s ease;
                    &:last-child {
                        margin: auto auto 10px 5px;
                    }
                    &:first-child {
                        margin: auto 5px 10px auto;
                    }
                }
            }
        }
    }
}