.page__favoris {
    height: 100vh;
    margin: auto;
    padding: 120px 20px 0;
    .title {
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        margin-bottom: 10px;
    }
    .list__favs {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
        .fav {
            position: relative;
            width: 100%;
            margin: 10px 0;
            display: flex;
            .nbr {
                position: absolute;
                top: -10px;
                left: 65px;
                background: $PrimaryColor;
                color: #fff;
                z-index: 1;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                border: 2px #fff solid;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }
            .img {
                width: 75px;
                height: 50px;
                overflow: hidden;
                display: flex;
                position: relative;
                border-radius: 5px;
                img {
                    width: 75px;
                    min-height: 50px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .right {
                width: calc(100% - 80px);
                margin-left: 10px;
                .name {
                    font-family: 'Asap';
                    color: $PrimaryColor;
                    margin: 0 0 3px;
                }
                .adresse {
                    color: $Grey;
                    font-size: 12px;
                }
            }
        }
        .null {
            position: absolute;
            top: 0;
            font-family: 'Asap';
            color: $PrimaryColor;
            margin: 10px 15px;
        }
    }
}