.page__home {
    height: 100vh;
    margin: auto;
    padding: 120px 20px 0;
    .title {
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        position: relative;
        i {
            position: absolute;
            right: 2px;
            top: 0;
            bottom: 0;
            margin: auto;
            --ggs: 1;
        }
        input {
            display: block;
            background: none;
            border: none;
            border-bottom: 1px solid $PrimaryColor;
            width: 100%;
            height: 38px;
            outline: none;
            color: $PrimaryColor;
            font-size: 18px;
            font-family: 'Asap';
            padding: 0;
            &:-webkit-autofill{
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
        }
        .fade-enter-active, .fade-leave-active {
            transition: all .5s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
            transform: translateX(-100px);
        }
    }
    .list__restos {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .group-enter-active, .group-leave-active {
            transition: all .3s;
        }
        .group-enter, .group-leave-to {
            opacity: 0;
            transform: translateY(20px);
        }
        .resto {
            position: relative;
            width: 100%;
            margin: 20px 0;
            &:last-child {
                margin-bottom: 20px;
            }
            .gg-full {
                background: #fff;
                &:after {
                    background: #fff;
                }
                &:before {
                    background: #fff;
                }
            }
            .img {
                height: 180px;
                overflow: hidden;
                display: flex;
                position: relative;
                border-radius: 5px;
                .background {
                    background: $PrimaryColor;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    transition: all .3s ease;
                    display: flex;
                    svg {
                        color: #fff;
                        font-size: 30px;
                        margin: auto;
                        transition: all .3s ease;
                        transform: scale(0) rotate(60deg);
                    }
                }
                &.anim {
                    .background {
                        opacity: 1;
                        svg {
                            transform: scale(1) rotate(0);
                        }
                    }
                }
                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                .fav {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $PrimaryColor;
                    color: #fff;
                    height: 24px;
                    width: 50px;
                    border-radius: 0 0 0 10px;
                    display: flex;
                    &>i {
                        margin: 6px auto auto;
                    }
                }
            }
            .name {
                font-family: 'Asap';
                color: $PrimaryColor;
            }
            .note {
                position: absolute;
                color: $PrimaryColor;
                right: 0;
                top: 182px;
                font-size: 14px;
                display: flex;
                &>i {
                    --ggs: 0.8;
                    margin: 0 -1px;
                    &.full {
                        background: $PrimaryColor;
                    }
                }
                &>span {
                    margin-left: 5px;
                }
            }
        }
    }
}