.page__login {
    height: 100vh;
    margin: auto;
    padding: 100px 20px;
    .title {
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
    }
    .impossible {
        color: #e74c3c;
        font-size: 12px;
        font-family: 'Asap';
    }
    .lottie--connect {
        position: fixed;
        bottom: -89px;
        width: 375px;
        height: auto !important;
        left: 0;
        right: 0;
        margin: auto;
    }
    form {
        &>label {
            position: relative;
            display: block;
            margin: 50px auto;
            &>input {
                display: block;
                background: none;
                border: none;
                border-bottom: 1px solid $Grey;
                width: calc(100% - 4px);
                height: 40px;
                outline: none;
                color: $PrimaryColor;
                font-size: 18px;
                &:-webkit-autofill{
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
            }
            .label {
                position: absolute;
                top: -14px;
                left: 0;
                color: $PrimaryColor;
                font-size: 16px;
            }
        }    
    }
    .button__bloc {
        position: relative;
        .label {
            font-family: 'Asap';
            color: $PrimaryColor;
            font-size: 28px;
            letter-spacing: 1px;
            line-height: 57px;
            margin-top: 40px;
        }
        .btn {
            position: absolute;
            background: $PrimaryColor;
            color: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            right: 0;
            top: 0;
            outline: none;
            font-size: 30px;
            line-height: 60px;
            padding: 0;
            i {
                margin: auto;
            }
        }
    }
    .other {
        margin-top: 40px;
        position: relative;
        z-index: 1;
        .inscription,
        .connexion {
            position: absolute;
            color: $PrimaryColor;
            text-decoration: underline;
            left: 0;
        }
        
        .mdp--oublie {
            position: absolute;
            right: 0;
            color: $PrimaryColor;
            text-decoration: underline;
        }
    }
}