#app .page.page__resto {
    height: 100vh;
    margin: auto;
    padding: 120px 20px 50px;
    height: calc(100vh - 171px);
    .title {
        position: relative;
        font-family: 'Asap';
        color: $PrimaryColor;
        font-size: 34px;
        margin-bottom: 10px;
        width: 100%;
        .note {
            font-family: 'Roboto';
            position: absolute;
            color: $PrimaryColor;
            right: 0;
            bottom: 8px;
            font-size: 14px;
            display: flex;
            &>i {
                --ggs: 0.8;
                margin: 0 -1px;
                &.full {
                    background: $PrimaryColor;
                }
            }
            &>span {
                margin-left: 5px;
            }
        }
    }
    .list__items {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
        .item {
            width: 100%;
            margin: 10px 0;
            display: flex;
            height: 100px;
            .img {
                width: 150px;
                height: 100px;
                overflow: hidden;
                display: flex;
                position: relative;
                border-radius: 5px;
                .background {
                    background: $PrimaryColor;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    transition: all .3s ease;
                    display: flex;
                    svg {
                        color: #fff;
                        font-size: 30px;
                        margin: auto;
                        transition: all .3s ease;
                        transform: scale(0);
                    }
                }
                &.anim {
                    .background {
                        opacity: 1;
                        svg {
                            transform: scale(1);
                        }
                    }
                }
                img {
                    width: 150px;
                    min-height: 100px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                .prix {
                    position: absolute;
                    background: $PrimaryColor;
                    color: #fff;
                    padding: 5px;
                    border-radius: 0 0 5px 0;
                }
            }
            .right {
                width: calc(100% - 160px);
                margin-left: 10px;
                .name {
                    font-family: 'Asap';
                    color: $PrimaryColor;
                    margin: 5px 0;
                }
                .description {
                    margin-top: 5px;
                    color: $Grey;
                    font-size: 12px;
                }
            }
        }
    }
    .modal-enter-active, .modal-leave-active {
        transition: all .5s;
    }
    .modal-enter, .modal-leave-to {
        opacity: 0;
        transform: scale(1.5);
    }
    .comments {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: calc(100vh - 50px);
        left: 0;
        width: 100vw;
        background: $PrimaryColor;
        min-height: 50px;
        border-radius: 40px 40px 0 0;
        transition: all .3s ease;
        z-index: 1;

        &.open {
            top: calc(100vh - 300px);
        }
            
        .open--btn {
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            color: $Grey;
            font-size: 14px;
            font-family: 'Roboto';
            text-decoration: underline;
        }

        .list__comments {
            margin-top: 50px;
            height: 150px;
            overflow-y: auto;
            padding: 0 20px;
            .comment {
                color: #fff;
                margin-bottom: 10px;
                .name {
                    color: $Grey;
                    font-size: 14px;
                }
            }
        }

        .add__comment {
            position: relative;
            margin: 0 auto 20px;
            transition: all .3s ease;
            height: 80px;
            width: 80vw;
            .title {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                text-align: center;
                font-size: 14px;
                color: #fff;
            }
            input {
                margin-top: 40px;
                outline: none;
                display: block;
                background: none;
                border: none;
                border-bottom: 1px solid #fff;
                width: 100%;
                height: 24px;
                outline: none;
                color: #fff;
                font-size: 14px;
                font-family: 'Roboto';
                padding: 0 28px 0 0;
                transform: translateX(-14px);
                &:-webkit-autofill{
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
            }
            .send--btn {
                position: absolute;
                top: 48px;
                right: -14px;
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 0 50% 50% 0;
                text-align: center;
                i {
                    margin: 0 auto;
                }
            }
        }
    }
    .modal__note {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #000000a0;
        .bloc {
            background: #fff;
            border-radius: 10px;
            width: 200px;
            margin: auto;
            display: flex;
            flex-direction: column;
            .modal--title {
                text-align: center;
                color: $PrimaryColor;
                font-family: 'Asap';
                margin-top: 5px;
            }
            .note {
                display: flex;
                margin: 30px auto 30px;
                color: $PrimaryColor;
                font-size: 14px;
                height: 16px;
                &>i {
                    margin: 0 3px;
                    &.full {
                        background: $PrimaryColor;
                    }
                }
            }
            button {
                background: $PrimaryColor;
                border-radius: 5px;
                color: #fff;
                width: 120px;
                height: 30px;
                outline: none;
                border: none;
                margin: auto auto 5px auto;
                transition: all .3s ease;
                &:disabled {
                    background: $Grey;
                }
            }
        }
    }

}