<template>
    <div class="page page__account">
        <div class="title"> 
            Compte
            <div class="save" @click="saveAccount">
                <i class="fas fa-save"></i>
            </div>
        </div>
        <div class="profilePicture">
            <img v-if="imageUrl" :src="imageUrl" alt="profilePicture" >
            <label for="pictureInput" id="picture">
                <input type="file" name="pictureInput"  id="pictureInput" accept="image/*" @input="uplaodImg">
            </label>
        </div>
        <div class="list__account">
            <label for="email">
                <span class="label"> E-Mail </span>
                <input type="email" id="email" name="email" autocomplete="off" v-model="email"> 
            </label>
            <label for="displayName">
                <span class="label"> Surnom </span>
                <input type="text" id="displayName" name="displayName" autocomplete="off" v-model="displayName"> 
            </label>
            <label for="password1">
                <span class="label"> Nouveau mot de passe </span>
                <input type="password" id="password1" name="password1" autocomplete="off" v-model="password1"> 
            </label>
            <label for="password2">
                <span class="label"> Confirmation du nouveau mot de passe </span>
                <input type="password" id="password2" name="password2" autocomplete="off" v-model="password2"> 
            </label>
        </div>
        <Lottie class="lottie--account" :options="defaultOptions" :width="220"/>
    </div>
</template>

<script>
import Lottie from 'vue-lottie'
import * as animationData from '../assets/anims/account.json';
export default {
    name: "Account",
    data() { 
        return {
            defaultOptions: {animationData: animationData.default},
            email: "",
            displayName: "",
            password1: "",
            password2: "",
            imageUrl: ""
        }
    },
    components: {
        Lottie,
    },
    mounted() {
        this.email = this.$firebase.auth().currentUser.email;
        this.displayName = this.$firebase.auth().currentUser.displayName;

        this.$firebase.storage().ref().child(this.$firebase.auth().currentUser.email + '_200x200.jpg').getDownloadURL().then((url) => {
            this.imageUrl = url;
        });
    },
    methods: {
        saveAccount() {
            if (this.email.length < 1) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez une adresse e-mail'
                });
                return;
            }
            if (this.displayName.length < 1) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez un surnom'
                });
                return;
            }
            if (this.password1.length < 5) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez un mot de passe'
                });
                return;
            }
            if (this.password2.length < 5) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Confirmer votre mot de passe'
                });
                return;
            }
            if (this.password1 !== this.password2) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Erreur correspondance mot de passe'
                });
                return;
            }
            this.$firebase.auth().currentUser.updateProfile({
                displayName: this.displayName,
                email: this.email,
            })
            .then(() => {
                this.$firebase.auth().currentUser.updatePassword(this.password1)
                .then(() => {
                    this.$notify({
                        group: 'notifs',
                        title: 'Succés',
                        type: 'success',
                        text: 'Informations modifiées avec succès'
                    });
                })
            })
        },
        uplaodImg(){
            this.$firebase.storage().ref().child(this.$firebase.auth().currentUser.email + '.jpg').put(document.getElementById('pictureInput').files[0])
            .then((resp) => {
                resp.ref.getDownloadURL()
                .then((url) => {
                    this.imageUrl = url;
                });
            });
        }    
    }
}
</script>