<template>
    <div class="page page__basket">
        <div class="title"> Panier </div>
        <div class="list__items">
            <transition-group tag="div" name="groupBasket">
                <div class="item" v-for="(item, index) in listCommands" :key="index">
                    <input type="hidden" v-model="toggleVar">
                    <IOdometer
                        class="iOdometer nbr"
                        :value="item.nbr"
                        v-if="item.nbr"
                    />
                    <IOdometer
                        class="iOdometer nbr"
                        :value="1"
                        v-else
                    />
                    <div class="img">
                        <img loading="lazy" :src="getImgUrl(item.id)" :alt="'Resto n°' + index"/>
                    </div>
                    <div class="right">
                        <div class="name"> {{ item.nom }} </div>
                        <div class="prix"> {{ item.prix }}€ </div>
                    </div>
                    <div class="option" @click="openOption"> <i class="fas fa-ellipsis-v"></i> </div>
                    <div class="list__options">
                        <div class="add" @click="addItem(item)"> <i class="fas fa-chevron-up"></i> </div>
                        <div class="less" @click="lessItem(item)"> <i class="fas fa-chevron-down"></i> </div>
                        <div class="delete" @click="deleteItem(item)"> <i class="far fa-trash-alt"></i> </div>
                    </div>
                </div>
            </transition-group>
            <div class="null" v-if="listCommands.length == 0" key="-1">
                Votre panier est vide.
            </div>
        </div>
        <div :class="{'payment': true, 'open': payementOpened}" >
            <div class="confirm" @click="togglePayment">Confirmer la commande</div>
            <div class="total">Total : </div>
            <div class="price"> 
                <IOdometer
                    class="iOdometer"
                    :value="totalPrice"/> € 
            </div>
            <div class="ask">
                <div class="cancel" @click="togglePayment"> <i class="fas fa-times"></i> Annuler </div>
                <div class="valid" @click="redirectToCommand"> Valider  <i class="fas fa-check"></i></div>
            </div>
        </div>
    </div>
</template>

<script>
import IOdometer from 'vue-odometer';
import store from "../store/index.js";
export default {
    name: "Basket",
    data() {
        return {
            tabOption: [],
            listCommands: [],
            toggleVar: false,
            payementOpened: false,
            totalPrice: 0
        }   
    },
    components: {
        IOdometer
    },
    methods: {
        getImgUrl(pic) {
            return require('../assets/img/items/' + pic + '.jpeg')
        },
        openOption(event) {            
            Array.from(document.getElementsByClassName('item')).forEach(element => {
                element.classList.remove('optionOpen');
            });
            event.path.forEach(element => {
                if (element.className == "item") {
                    element.classList.add("optionOpen");
                } else if (element.className == "item optionOpen") {
                    element.classList.remove("optionOpen");
                }
            });
        },
        deleteItem(item) {
            this.listCommands.splice(this.listCommands.findIndex(element => {
                return element.id === item.id;
            }), 1);
            store.commit('setListCommands', this.listCommands);
            this.$parent.refreshBasket();
            Array.from(document.getElementsByClassName('item')).forEach(element => {
                element.classList.remove('optionOpen');
            });
            this.toggleVar = !this.toggleVar;
            this.getTotal();
        },
        addItem(item) {
            if (item.nbr) {
                item.nbr++;
            } else {
                item.nbr = 2;
            }
            store.commit('setListCommands', this.listCommands);
            this.$parent.refreshBasket();
            this.toggleVar = !this.toggleVar;
            this.getTotal();
        },
        lessItem(item) {
            if (item.nbr > 1) {
                item.nbr--;
            } else {
                this.deleteItem(item);
            }
            store.commit('setListCommands', this.listCommands);
            this.$parent.refreshBasket();
            this.toggleVar = !this.toggleVar;
            this.getTotal();
        },
        togglePayment() {
            this.payementOpened = !this.payementOpened;
        },
        getTotal() {
            this.totalPrice = 0;
            this.listCommands.forEach(element => {
                if (element.nbr)
                    this.totalPrice = this.totalPrice + element.prix * element.nbr
                else
                    this.totalPrice = this.totalPrice + element.prix
            });
        },
        redirectToCommand() {
            this.$router.push({path: '/command'})
        }
    },
    mounted() {
        this.listCommands = store.getters.getListCommands;
        this.getTotal();
    }
}
</script>

<style>

</style>

