<template>
    <div class="page page__command">
        <div class="title"> Votre commande </div>
        <Lottie class="lottie--command" :options="defaultOptions" :width="335"/>
        <div class="time">
            <IOdometer
                class="iOdometer"
                :value="time"
            />
            <span v-if="time > 1"> secondes </span>
            <span v-else> seconde </span>
            <div v-if="time < 260"> (Il va rien se passer d'autre) </div>
        </div>
        <div class="list__items">
            <span class="item" v-for="(item, index) in listCommands" :key="index">
                <div class="nbr" v-if="item.nbr"> {{ item.nbr }} </div>
                <div class="nbr" v-else> 1 </div>
                <div class="img">
                    <img loading="lazy" :src="getImgUrl(item.id)" :alt="'Resto n°' + index"/>
                </div>
            </span>
        </div>
        <transition name="modal">
            <div class="modal__notification" v-if="modalOpen" @click="modalOpen = false">
                <div class="bloc" @click.stop>
                    <div class="modal--title"> Voulez vous recevoir une notification une fois votre commande arrivée ? </div>
                    <div class="buttons">
                        <button @click="askNotification"> Oui </button>
                        <button @click="modalOpen = false"> Non </button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import IOdometer from 'vue-odometer';
import store from "../store/index.js";
import Lottie from 'vue-lottie'
import * as animationData from '../assets/anims/command.json';
export default {
    name: 'Command',
    data() {
        return {
            defaultOptions: {animationData: animationData.default},
            listCommands: [],
            time: 280,
            modalOpen: false
        };
    },
    components: {
        Lottie,
        IOdometer
    },
    methods: {
        getImgUrl(pic) {
            return require('../assets/img/items/' + pic + '.jpeg')
        },
        incrementTime() {
            if (this.time > 0)
                this.time --;
        },
        askNotification() {
            this.modalOpen = false
            Notification.requestPermission();
        }
    },
    mounted() {
        this.listCommands = store.getters.getListCommands;
        var style = document.createElement('style');
        style.type = 'text/css';
        var keyFrames = `
        @keyframes moveSlideshow {
            0% { 
              transform: translateX(-20px);  
            }
            50% { 
                transform: translateX(calc(-120px * A_DYNAMIC_VALUE + 100vw - 30px));
                
            }
            100% { 
                transform: translateX(-20px);  
            }
        }`;
        style.innerHTML = keyFrames.replace(/A_DYNAMIC_VALUE/g, this.listCommands.length);
        document.getElementsByTagName('head')[0].appendChild(style);

        setInterval(this.incrementTime, 1000);

        if (Notification.permission == "default") {
            this.modalOpen = true;
        }

        
        setTimeout(() => {
            if (Notification.permission == "granted") {
                new Notification("Votre repas est arrivé", {
                        body: "Vous pouvez venir le récuperer"
                    }
                );
            }
        }, 20000);
    }
}
</script>