<template>
    <div class="page page__favoris">
        <div class="title">
            Favoris
        </div>  
        <div class="list__favs">
            <transition-group name="group">
                <router-link class="fav" v-for="(resto, index) in listRestos" tag="div" :to="'/restaurant/' + resto.id" :key="resto.id">
                    <div class="img">
                        <img loading="lazy" :src="getImgUrl(resto.id)" :alt="'Resto n°' + index"/>
                    </div>
                    <div class="right">
                        <div class="name"> {{ resto.nom }} </div>
                        <div class="adresse"> {{ resto.adresse }} </div>
                    </div>
                </router-link>
            </transition-group>
            <div class="null" v-if="listRestos.length == 0" key="-1">
                Vous n'avez pas ajouté de favoris.
            </div>
        </div> 
    </div>
</template>

<script>
import store from "../store/index.js";
export default {
    name: 'Favoris',
    data() {
        return {
            listRestos: [],
            showSearch: false,
            toggleVar: false
        }
    },
    components: {
        
    },
    mounted() {
        this.listRestos =  store.getters.getListFavs;
    },
    methods: {
        getImgUrl(pic) {
            return require('../assets/img/restos/' + pic + '.jpeg')
        }
    }
}
</script>