<template>
    <div class="page page__home">
        <div class="title">
            <transition name="fade" mode="out-in">        
                <span v-if="!showSearch"> Accueil </span>
                <input type="text" name="search" id="search" placeholder="Recherche" autocomplete="off" @input="searchInput" v-model="searchModel" v-else>
            </transition>       
            <i class="gg-search" @click="openSearch"></i>
        </div>  
        <div class="loading" v-if="loading">
            <i class="gg-spinner-two-alt"></i>
        </div>
        <div class="list__restos" v-if="!loading">
            <transition-group name="group">
                <router-link class="resto" v-for="(resto, index) in listRestos" tag="div" :to="'/restaurant/' + resto.id" :key="resto.id">
                    <div class="img">
                        <img loading="lazy" :src="getImgUrl(resto.id)" :alt="'Resto n°' + index"/>
                        <div class="background"> 
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="fav" @click.stop>
                            <i class="gg-heart" v-if="!resto.fav" @click="toggleFav(resto, $event)"></i>
                            <i class="gg-heart gg-full" v-else @click="toggleFav(resto, $event)"></i>
                        </div>
                    </div>
                    <div class="name">
                        {{ resto.nom }}
                    </div>
                    <div class="note">
                        <i class="gg-shape-circle full" v-if="resto.note && (resto.note / resto.nbrNote) >= 1"></i>
                        <i class="gg-shape-circle" v-else></i>
                        <i class="gg-shape-circle full" v-if="resto.note && (resto.note / resto.nbrNote) >= 2"></i>
                        <i class="gg-shape-circle" v-else></i>
                        <i class="gg-shape-circle full" v-if="resto.note && (resto.note / resto.nbrNote) >= 3"></i>
                        <i class="gg-shape-circle" v-else></i>
                        <i class="gg-shape-circle full" v-if="resto.note && (resto.note / resto.nbrNote) >= 4"></i>
                        <i class="gg-shape-circle" v-else></i>
                        <i class="gg-shape-circle full" v-if="resto.note && (resto.note / resto.nbrNote) >= 5"></i>
                        <i class="gg-shape-circle" v-else></i>
                        <span v-if="resto.nbrNote"> ({{ resto.nbrNote }}) </span>
                        <span v-else> (0) </span>
                        <input type="hidden" v-model="toggleVar">
                    </div>
                    <div class="adresse">
                        {{ resto.adresse }}
                    </div>
                </router-link>
            </transition-group>
        </div> 
    </div>
</template>

<script>
import store from "../store/index.js";
export default {
    name: 'Home',
    data() {
        return {
            searchModel: '',
            listRestos: [],
            listNotes: [],
            saveListRestos: [],
            showSearch: false,
            toggleVar: false,
            loading: true
        }
    },
    components: {
        
    },
    mounted() {
        this.$firebase.database().ref('/restos/').once('value', (snap)=> {
            this.listRestos = snap.val();
            this.refreshFav();
            this.refreshNote();
            this.saveListRestos = this.listRestos;
        });
    },
    methods: {
        getImgUrl(pic) {
            return require('../assets/img/restos/' + pic + '.jpeg')
        },
        openSearch() {
            this.showSearch = !this.showSearch;
        },
        searchInput() {
            this.listRestos = [];
            this.saveListRestos.forEach(element => {
                if(element.nom.toLowerCase().includes(this.searchModel.toLowerCase())) {
                    this.listRestos.push(element);
                    
                } 
            })
            this.searchModel
        },
        toggleFav(item, event) {
            event.path.forEach(element => {
                if (element.className == "resto") {
                    element.querySelector('.img').classList.add('anim');
                    setTimeout(() => {
                        element.querySelector('.img').classList.remove('anim');
                    }, 1000);
                }
                if (element.className == "gg-heart") {
                    element.className = "gg-heart gg-full";
                } else if (element.className == "gg-heart gg-full") {
                    element.className = "gg-heart";
                }
            });
            store.commit('toggleFav', item);
            this.refreshFav();
        },
        refreshFav() {
            this.listRestos.forEach(element => {
                store.getters.getListFavs.findIndex(el => {
                    if (element.id === el.id) {
                        element.fav = true;
                    }
                })
            });
        },
        refreshNote() {
            this.$firebase.database().ref('/notes/').once('value', (snap)=> {
                this.listNotes = snap.val();
                this.listNotes.forEach(element => {
                    this.listRestos.findIndex(el => {
                        if (element.id_resto == el.id) {
                            if (el.note) {
                                el.note += element.note;
                            } else {
                                el.note = element.note;
                            }
                            if (el.nbrNote) {
                                el.nbrNote++;
                            } else {
                                el.nbrNote = 1;
                            }
                        }
                    })
                })
                this.toggleVar = !this.toggleVar;
                this.loading = false;
            });
        }
    }
}
</script>