<template>
    <div class="page page__login">
        <h1 class="title">
            Bienvenue sur <br> OpenEat !
        </h1>
        <div class="impossible" v-if="!getConnected">
            <i class="fas fa-exclamation-triangle"></i> Impossible de vous connecter sans internet.
        </div>
        <form action="#" @submit.prevent="submit">
            <label>
                <span class="label"> E-Mail </span>
                <input id="email" name="email" v-model="form.email" autocomplete="e-mail">
            </label>
            <label>
                <span class="label"> Mot de passe </span>
                <input id="mdpConnect" type="password" name="password" v-model="form.password" autocomplete="current-password">
            </label>
            <div class="button__bloc">
                <span class="label"> Se connecter </span> <button type="submit" class="btn" id="connect"> <i class="fas fa-long-arrow-alt-right"></i> </button>
            </div>
        </form>
        <div class="other">
            <router-link class="inscription" tag="span" to="/signup">Inscription </router-link> <span class="mdp--oublie"> Mot de passe oublié </span> 
        </div>
        <lottie class="lottie--connect" :options="defaultOptions" :width="375"/>
    </div>
</template>


<script>
import store from '../store/index.js'
import firebase from "firebase";
import Lottie from 'vue-lottie'
import * as animationData from '../assets/anims/connect.json';

export default {
    data() {
        return {
            defaultOptions: {animationData: animationData.default},
        form: {
            email: "",
            password: ""
        }
        };
    },
    components: {
        'lottie': Lottie
    },
    computed: {
        getConnected() {
            return store.getters.getConnected;
        }
    },
    methods: {
        submit() {
            firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
                .then(() => {
                    this.$notify({
                        group: 'notifs',
                        title: 'Succés',
                        type: 'success',
                        text: 'Vous êtes maintenant connecté !'
                    });
                    this.$router.push({path: '/'})
                })
                .catch(() => {
                    this.$notify({
                        group: 'notifs',
                        title: 'Erreur',
                        type: 'error',
                        text: 'Adresse e-mail ou mot de passe incorrect'
                    });
            });
        }
    },
    mounted() {
    }
};
</script>