<template>
    <div class="page page__signup">
        <h1 class="title">
            Bienvenue sur <br> OpenEat !
        </h1>
        <div class="impossible" v-if="!getConnected">
            <i class="fas fa-exclamation-triangle"></i> Impossible de vous connecter sans internet.
        </div>
        <form action="#" @submit.prevent="submit">
            <label for="surname">
                <span class="label"> Surnom </span>
                <input type="text" id="surname" name="surname" autocomplete="off" v-model="form.surname"> 
            </label>
            <label for="email">
                <span class="label"> E-Mail </span>
                <input type="email" id="email" name="email" autocomplete="off" v-model="form.email"> 
            </label>
            <label for="password1">
                <span class="label"> Mot de passe </span>
                <input type="password" id="password1" name="password1" autocomplete="off" v-model="form.password1"> 
            </label>
            <label for="password2">
                <span class="label"> Confirmation du mot de passe </span>
                <input type="password" id="password2" name="password2" autocomplete="off" v-model="form.password2"> 
            </label>
            <label for="birthday">
                <span class="label"> Date de naissance </span>
                <input type="text" id="birthday" name="birthday" autocomplete="off" v-model="form.birthday">
            </label>
            <div class="button__bloc">
                <span class="label"> S'inscrire </span> <button type="submit" class="btn" id="connect"> <i class="fas fa-long-arrow-alt-right"></i> </button>
            </div>
        </form>
        <div class="other">
            <router-link class="connexion" tag="span" to="/login">Se connecter </router-link> 
        </div>
    </div>
</template>


<script>
import store from '../store/index.js'
import firebase from "firebase";

export default {
    data() {
        return {
            form: {
                surname: '',
                email: '',
                password1: '',
                password2: '',
                birthday: ''
            }
        };
    },
    computed: {
        getConnected() {
            return store.getters.getConnected;
        }
    },
    methods: {
        submit() {
            if (this.form.surname.length < 1) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez un surnom'
                });
                return;
            }
            if (this.form.email.length < 1) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez une adresse e-mail'
                });
                return;
            }
            if (this.form.password1.length < 5) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez un mot de passe'
                });
                return;
            }
            if (this.form.password2.length < 5) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Confirmer votre mot de passe'
                });
                return;
            }
            if (this.form.birthday.length < 5) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Saisissez une date de naissance'
                });
                return;
            }
            if (this.form.password1 !== this.form.password2) {
                this.$notify({
                    group: 'notifs',
                    title: 'Erreur',
                    type: 'error',
                    text: 'Erreur correspondance mot de passe'
                });
                return;
            }

            firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password1)
                .then(() => {
                    var user = firebase.auth().currentUser;
                    user.updateProfile({
                        displayName: this.form.surname
                    });
                    this.$notify({
                        group: 'notifs',
                        title: 'Succés',
                        type: 'success',
                        text: 'Compte créé avec succés'
                    });
                    this.$router.push('/login');
                })
                .catch(err => {
                    if (err.code == "auth/email-already-in-use") 
                        this.$notify({
                            group: 'notifs',
                            title: 'Erreur',
                            type: 'error',
                            text: 'Adresse e-mail déjà utilisé'
                        });
                    if (err.code == "auth/invalid-email")
                        this.$notify({
                            group: 'notifs',
                            title: 'Erreur',
                            type: 'error',
                            text: 'Adresse e-mail incorrect'
                        });
                    if (err.code == "auth/weak-password")
                        this.$notify({
                            group: 'notifs',
                            title: 'Erreur',
                            type: 'error',
                            text: 'Mot de passe trop faible'
                        });
            });
        }
    }
};
</script>