<template>
    <div class="page page__resto">
        <div class="title" v-if="!loading">
            {{ resto.nom }}
            <div class="note" @click="modalOpen = true">
                <i class="gg-shape-circle full" v-if="note && (note / nbrNote) >= 1"></i>
                <i class="gg-shape-circle" v-else></i>
                <i class="gg-shape-circle full" v-if="note && (note / nbrNote) >= 2"></i>
                <i class="gg-shape-circle" v-else></i>
                <i class="gg-shape-circle full" v-if="note && (note / nbrNote) >= 3"></i>
                <i class="gg-shape-circle" v-else></i>
                <i class="gg-shape-circle full" v-if="note && (note / nbrNote) >= 4"></i>
                <i class="gg-shape-circle" v-else></i>
                <i class="gg-shape-circle full" v-if="note && (note / nbrNote) >= 5"></i>
                <i class="gg-shape-circle" v-else></i>
                <span v-if="nbrNote"> ({{ nbrNote }}) </span>
                <span v-else> (0) </span>
                <input type="hidden" v-model="toggleVar">
            </div>
        </div>  
        <div class="loading" v-if="loading">
            <i class="gg-spinner-two-alt"></i>
        </div>
        <div class="list__items" v-if="!loading">
            <div class="item" v-for="(item, index) in listItems" :key="index" @click="addItemToBasket(item, $event)">
                <div class="img">
                    <img loading="lazy" :src="getImgUrl(item.id)" :alt="'Resto n°' + index"/>
                    <div class="background"> <i class="fas fa-check"></i> </div>
                    <div class="prix"> {{ item.prix }} € </div>
                </div>
                <div class="right">
                    <div class="name"> {{ item.nom }} </div>
                    <div class="description"> {{ item.description }} </div>
                </div>
            </div>
        </div> 
        <div :class="{'comments': true, 'open': commentsOpened}">
            <div class="open--btn" @click="toggleComments"> Ouvrir les commentaires <span v-if="listComments">({{listComments.length}})</span> </div>
            <div class="list__comments">
                <div class="comment" v-for="(comment, index) in listComments" :key="index">
                    <div class="name">
                        {{ comment.name }}
                    </div>
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
            <div class="add__comment">
                <div class="title"> Ajouter un commentaire : </div>
                <input type="text" name="newComment" id="newComment" v-model="newComment" autocomplete="off">
                <div class="send--btn" @click="sendComment"> <i class="gg-mail-forward"></i> </div>
            </div>
        </div>
        <transition name="modal">
            <div class="modal__note" v-if="modalOpen" @click="modalOpen = false">
                <div class="bloc" @click.stop>
                    <div class="modal--title"> Votre note : </div>
                    <div class="note" v-if="!loadingNote">
                        <i class="gg-shape-circle full" v-if="modalNote && modalNote >= 1" @click="modalNote = 1"></i>
                        <i class="gg-shape-circle" v-else @click="modalNote = 1"></i>
                        <i class="gg-shape-circle full" v-if="modalNote && modalNote >= 2" @click="modalNote = 2"></i>
                        <i class="gg-shape-circle" v-else @click="modalNote = 2"></i>
                        <i class="gg-shape-circle full" v-if="modalNote && modalNote >= 3" @click="modalNote = 3"></i>
                        <i class="gg-shape-circle" v-else @click="modalNote = 3"></i>
                        <i class="gg-shape-circle full" v-if="modalNote && modalNote >= 4" @click="modalNote = 4"></i>
                        <i class="gg-shape-circle" v-else @click="modalNote = 4"></i>
                        <i class="gg-shape-circle full" v-if="modalNote && modalNote >= 5" @click="modalNote = 5"></i>
                        <i class="gg-shape-circle" v-else @click="modalNote = 5"></i>
                    </div>
                    <div class="note" v-else>
                        <i class="gg-loadbar"></i>
                    </div>
                    <button @click="confirmNote" :disabled="modalNote == null"> Valider </button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import firebase from 'firebase';
import store from "../store/index.js";
export default {
    name: 'Home',
    data() {
        return {
            resto: {
                nom: ''
            },
            note: 0,
            nbrNote: 0,
            listItems: [],
            listNotes: [],
            listComments: [],
            toggleVar: false,
            loading: true,
            modalOpen: false,
            modalNote: null,
            actualIdNote: null,
            loadingNote: false,
            commentsOpened: false,
            newComment: null,
            loadingComment: false
        }
    },
    components: {
        
    },
    mounted() {
        this.$firebase.database().ref('/restos/' + window.location.pathname.split('restaurant/')[1]).once('value', (snap)=> {
            this.resto = snap.val();
            this.refreshNote();
            this.loadComments();
        });
        this.$firebase.database().ref('/items').once('value', (snap)=> {
            var restoId = window.location.pathname.split('restaurant/')[1];
            snap.val().forEach(element => {
                if (element.id_resto == restoId) {
                    this.listItems.push(element);
                }
            });
        })
    },
    methods: {
        getImgUrl(pic) {
            return require('../assets/img/items/' + pic + '.jpeg')
        },
        addItemToBasket(item, event) {
            event.path.forEach(element => {
                if (element.className == "item") {
                    element.querySelector('.img').classList.add('anim');
                    setTimeout(() => {
                        element.querySelector('.img').classList.remove('anim');
                    }, 1000);
                }
            });
            store.commit('addListCommands', item)
            this.$parent.refreshBasket();
        },
        refreshNote() {
            this.$firebase.database().ref('/notes/' ).once('value', (snap)=> {
                this.listNotes = snap.val();
                this.actualIdNote = this.listNotes.length;
                this.note = 0;
                this.nbrNote = 0;
                this.listNotes.forEach((element, index) => {
                    if (this.resto.id == element.id_resto) {
                        if (this.$firebase.auth().currentUser.email == element.id_utilisateur) {
                            this.modalNote = element.note;
                            this.actualIdNote = index;
                        }
                        this.note += element.note;
                        this.nbrNote++;
                    }
                })
                this.toggleVar = !this.toggleVar;
                this.loading = false;
                this.loadingNote = false;
                this.modalOpen = false;
            });
        },
        confirmNote() {
            this.loadingNote = true;
            firebase.database().ref('/notes/' + this.actualIdNote).set({
                note: this.modalNote,
                id_resto: window.location.pathname.split('restaurant/')[1],
                id_utilisateur: this.$firebase.auth().currentUser.email
            }).then(() => {
                this.refreshNote();
            });
        },
        loadComments() {
            this.listComments = [];
            this.$firebase.database().ref('/comments').once('value', (snap)=> {
                var restoId = window.location.pathname.split('restaurant/')[1];
                if (snap.val().length > 0) {
                    snap.val().forEach(element => {
                        if (element.id_resto == restoId) {
                            this.listComments.push(element);
                        }
                    });
                }
            })
        },
        toggleComments() {
            this.commentsOpened = !this.commentsOpened;
        },
        sendComment() {
            this.loadingComment = true;
            firebase.database().ref('/comments/' + this.listComments.length).set({
                text: this.newComment,
                name: this.$firebase.auth().currentUser.displayName,
                id_resto: window.location.pathname.split('restaurant/')[1],
                id_utilisateur: this.$firebase.auth().currentUser.email
            }).then(() => {
                this.listComments.push({
                    text: this.newComment,
                    name: this.$firebase.auth().currentUser.displayName,
                    id_resto: window.location.pathname.split('restaurant/')[1],
                    id_utilisateur: this.$firebase.auth().currentUser.email
                });
                this.loadingComment = false;
            });
        }
    }
}
</script>