<template>  
    <div class="panel">
        <div class="menu">
            <div class="impossible" v-if="!getConnected">
                <i class="fas fa-exclamation-triangle"></i> Certaines actions sont impossible sans internet
            </div>
            <div class="title">
                    OpenEat
            </div>
            <div class="connected" v-if="this.$firebase.auth().currentUser"> {{ this.$firebase.auth().currentUser.displayName }} </div>
            <div class="list__link">
                <div class="link" @click="redirectHome"> <i class="gg-home-alt"></i> Accueil </div>
                <div class="link" @click="redirectFav"> <i class="far fa-heart"></i> Favoris </div>
                <div class="link" @click="redirectBasket"> <i class="gg-shopping-cart"></i> Panier </div>
                <div class="link" @click="redirectAccount"> <i class="gg-profile"></i>Compte </div>
                <div class="link" @click="redirectSigin"> <i class="gg-sleep"></i>Se déconnecter </div>
            </div>
            <div class="conditions__copyright">
                <div class="conditions"> Conditions générales </div>
                <div class="copyright"> Copyright 2020 - OpenEat </div>
            </div>
        </div>
        <div class="fade" @click="closeMenu"></div>
    </div>
</template>

<script>
import store from '../store/index.js'

export default {
    name: 'Menu',
    computed: {
        getConnected() {
            return store.getters.getConnected;
        }
    },
    methods: {
        closeMenu() {
            this.$parent.closeMenu();
        },
        redirectHome() {
            this.$parent.closeMenu();
            this.$router.push({path: '/'})
        },
        redirectFav() {
            this.$parent.closeMenu();
            this.$router.push({path: '/favoris'})
        },
        redirectBasket() {
            this.$parent.closeMenu();
            this.$router.push({path: '/basket'})
        },
        redirectAccount() {
            this.$parent.closeMenu();
            this.$router.push({path: '/account'})
        },
        redirectSigin() {
            this.$parent.closeMenu();
            this.$router.push({path: '/login'})
        }
    }
}
</script>