<template>
    <div id="app">
        <notifications group="notifs"/>
        <div v-if="currentRouteName !== 'Login' && currentRouteName !== 'Register'">
            <div class="top__menu">
                <i class="gg-arrow-left" v-if="currentRouteName == 'Resto'" @click="goPrevious"></i>
                <i class="gg-menu-left" v-else @click="toggleMenu"></i>
                <router-link class="toBasket" to="/basket" tag="div"> <i class="fas fa-shopping-cart"></i> 
                <span>
                    <IOdometer
                        class="iOdometer"
                        :value="nbrBasket"
                        :duration=10
                    />
                </span></router-link>
            </div>
            <Menu :class="{'open': menuOpen}" @closeMenu="closeMenu"></Menu>
        </div>
        <router-view @refreshBasket="refreshBasket()"/>
    </div>
</template>

<script>
import IOdometer from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';
import store from "./store/index.js";
import Menu from './components/menu';
import './assets/css/gg.css'
import './assets/scss/app.scss';

export default {
    name: 'App',
    components: {
        Menu,
        IOdometer
    },
    data() {
        return {
            menuOpen: false,
            nbrBasket: 0
        }
    },
    computed: {
        currentRouteName() {
            return this.$route.name;
        },
    },
    created() {
        if (this.$workbox) {
            this.$workbox.addEventListener("waiting", () => {
            this.showUpgradeUI = true;
            });
        }
    },
    mounted() {
        if (window.location.pathname !== '/login' && window.location.pathname !== '/register' && !this.$firebase.auth().currentUser) {
            this.$router.push('/login')
        }
        this.refreshBasket();
        this.testConection(false);
        navigator.connection.addEventListener('change', this.testConection);
    },
    methods: {
        async accept() {
            this.showUpgradeUI = false
            await this.$workbox.messageSW({ type: "SKIP_WAITING" });
        },
        toggleMenu() {
            this.menuOpen = !this.menuOpen;
        },
        closeMenu() {
            this.menuOpen = false;
        },
        refreshBasket() {
            this.nbrBasket = 0;
            store.getters.getListCommands.forEach(element => {
                if (element.nbr) {
                    this.nbrBasket += element.nbr;
                } else {
                    this.nbrBasket++;
                }
            });
        },
        goPrevious() {
            this.$router.go(-1);
        },
        testConection(notif = true) {
            if (navigator.connection.downlink > 0) {
                store.commit('setConnected', true)
                if(notif) {
                    this.$notify({
                        group: 'notifs',
                        title: 'Succés',
                        type: 'success',
                        text: 'Vous êtes maintenant connecté à internet'
                    });
                }
            } else {
                store.commit('setConnected', false)  
                if (notif) {
                    this.$notify({
                        group: 'notifs',
                        title: 'Erreur',
                        type: 'error',
                        text: 'Vous n\'êtes plus connecté à internet'
                    });
                }
            }
        }
    }
}
</script>